* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}



body {
  background-color:white;
}

/* Navbar */
.navbar {
  background-color:#E7E9EB;
  color: black;
  padding: 20px ;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.navbar-brand {
  font-size: 24px;
  color:black;
  text-decoration: none;
  margin-right: auto;
}

.navbar-toggler {
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
  color: black;
  display: inline-block;
}

.nav-toggle {
  display: none;
}

.nav-links {
  display: none;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
} 

.nav-toggle:checked + .navbar-toggler + .nav-links {
  display: flex;
}

.nav-link {
  color: black;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}

.nav-link:hover {
  background-color: #3e444a;
}  

/* Show nav-links inline on large screens */
@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }

  .nav-links {
    display: flex !important;
    flex-direction: row;
    gap: 20px;
    width: auto;
    margin-top: 0;
  }
}

.maincontainer {
  display: flex;
  height: 650px;
  margin-top: 30px;
  border:2px solid rgb(126, 122, 122);
  background-color:white;
  position: relative;

}

.code-area,
.output-area {
  height: calc(100% - 70px);
  margin-top: 70px;
  overflow: auto;

}

.code-area {
  display: flex;
  font-family: monospace;
  flex-grow: 1;
  min-width: 340px;
  margin-left: 70px;
  overflow: hidden;
  border-left:2px solid rgb(139, 139, 139);
}
.line-numbers {
  width: 40px;
  padding: 7px 4px;
  text-align: right;
  background-color: #f4f4f4;
  color: #888;
  user-select: none;
  border-right: 1px solid #ccc;
  overflow: hidden;
  font-size: 15px;
  line-height: 1.5;
 
}


.output-area {
  flex-grow: 1;
  padding: 20px;
  color: black;
  background-color:#E7E9EB;
  font-size: 17px;
  overflow: auto;

}
.resizer {
  width: 5px;
  background-color:#92979c;
  cursor: col-resize;
}
/* Optional: remove textarea border and style */
.code-area textarea {
  width: 100%;
  padding-left: 10px;
  border: none;
  outline: none;
  font-size: 17px;
  resize: none;
  font-family: monospace;
  background-color: white;
  color: rgb(20, 153, 22);
  line-height: 1.5;
  overflow: auto;
}

.button-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  border-bottom: 2px solid #999;
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  z-index: 10;
}


.run{
   
  border-radius: 6px;
  padding: 9px 20px;
  height: 40px;
  background-color: rgb(20, 153, 22);
  cursor: pointer;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
  

  
}

.share{
  border-radius: 6px;
  padding: 9px 20px;
  height: 40px;
  background-color:rgb(53, 52, 52);
  cursor: pointer;
  color:white;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;

}
.editor-btn{
  border: 2px solid rgb(250, 247, 247);
  border-radius: 6px;
  padding: 9px 20px;
  background-color:  rgb(53, 52, 52);
  height: 40px;
  margin-top:5px;
  color:white;
  cursor: pointer;
  font-weight: bold;
  margin-left: 6px;
  
  
}
.dark-toggle{
  border-radius: 6px;
  padding: 5px 15px;
  background-color:rgb(53, 52, 52);
  color:white;
  cursor: pointer;
  font-weight: bold;
  height: 40px;
  margin-top:5px;
  
  
  
}

.left-buttons .right-buttons{
  display: flex;
  gap: 9px;
}

/* #darkmode */
body.dark-mode {
  background-color:rgb(9, 9, 9);
  color: white;
}
body.dark-mode .navbar-toggler{
  color:white;
}
body.dark-mode .maincontainer{
  background-color: #242424;
}

body.dark-mode .output-area {
  background-color:#121212;
  
}
body.dark-mode .code-area{
  border-left:2px solid #242424;;

}

body.dark-mode .code-area textarea {
  background-color: #121212;
  color: rgb(20, 153, 22);
}

body.dark-mode .line-numbers {
  background-color: #1e1e1e;
  color: #777;
  border-right: 1px solid #444;
}

body.dark-mode textarea::placeholder {
  color: #ccc;
}

body.dark-mode .navbar {
  background-color:#121212;
}

body.dark-mode .editor-btn,
body.dark-mode .run,
body.dark-mode .share, body.dark-mode .dark-toggle {
  background-color: rgb(20, 20, 20);
  color: white;
  border:2px solid #494848;
}
body.dark-mode .button-bar{
  background-color: #242424;
  color: white;
  border:2px solid #242424;

}
body.dark-mode .resizer{
  background-color:#242424;
}
body.dark-mode,
body.dark-mode h1, h2, h3, h4, h5, h6,
body.dark-mode p,
body.dark-mode a,
body.dark-mode span,
body.dark-mode div,
body.dark-mode .nav-link,
body.dark-mode .navbar-brand {
  color: white !important;
}

  .language-panel {
      position: absolute;
      top: 191px;
      left: 10px;
      display: flex;
      flex-direction: column;
      z-index: 10;
      gap:50px;
    }

    .language-panel img {
      width: 40px;
      height: 40px;
      cursor: pointer;
      border: 2px solid  #918c8c ;
      border-radius: 6px;
      margin-left: 10px;

    }
    .language-panel img:hover {
      border-color:black;
    }

   